.container {
  display: grid;
}

.orders {
  grid-area: 1 / 1 / span 1 / span 8;
}

.trades {
  grid-area: 2 / 1 / span 1 / span 2;
}

.risk {
  grid-area: 2 / 3 / span 1 / span 6;
}

.title {
  font-weight: bold;
}

.agg-row {
  font-weight: bold;
  border-top: 2px solid #5B9AD0;
}
